<a href="https://colab.research.google.com/github/hargurjeet/Maersk/blob/main/Modelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -q gitpython

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 207.3/207.3 kB 2.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.7/62.7 kB 6.1 MB/s eta 0:00:00

In [2]:
## Python Imports
import pandas as pd
import numpy as np
from git import Repo
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Clone the GitHub repository
repo_url = 'https://github.com/hargurjeet/Maersk'
repo_dir = 'Maersk'
Repo.clone_from(repo_url, repo_dir)

In [ ]:
file_path  = "/content/Maersk/vessel_data.csv"
date_cols = ['arrival_date', 'departure_date',
             'arrival_time', 'departure_time', 'prev_arrival_time', 'prev_departure_time', 'next_arrival_time']
dtypes = {
    'imo' : 'object',
    'arrival_time':'datetime64[ns, UTC]',
    'departure_time':'datetime64[ns, UTC]',
    'prev_departure_time':'datetime64[ns, UTC]',
    'prev_arrival_time':'datetime64[ns, UTC]',
    'next_arrival_time':'datetime64[ns, UTC]'

}


vessel_data = pd.read_csv(file_path, parse_dates=date_cols,dtype = dtypes)
pd.set_option('display.max_columns', None)
vessel_data.head(2)

In [7]:
vessel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494042 entries, 0 to 494041
Data columns (total 35 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    494042 non-null  int64
 1   call_id                       494042 non-null  object
 2   arrival_date                  494042 non-null  datetime64[ns]
 3   departure_date                494042 non-null  datetime64[ns]
 4   arrival_time                  494042 non-null  object
 5   departure_time                494042 non-null  object
 6   imo                           494042 non-null  object
 7   vessel_name_ais               494042 non-null  object
 8   vessel_type_ais               494039 non-null  object
 9   Country                       494042 non-null  object
 10  CountryCode                   493669 non-null  object
 11  Port                          494042 non-null  object
 12  Terminal                      494042 non-null  object
 13  Duration                      494042 non-null  float64
 14  Service_name                  493895 non-null  object
 15  length                        494042 non-null  float64
 16  prev_departure_time           494042 non-null  object
 17  vesteu                        494042 non-null  int64
 18  prev_port                     494038 non-null  object
 19  prev_arrival_time             494038 non-null  object
 20  prev_duration                 494038 non-null  float64
 21  prev_leg_duration             494042 non-null  float64
 22  prev_leg_distance_nm          494042 non-null  float64
 23  prev_leg_stationary_hours     494042 non-null  int64
 24  prev_call_id                  494038 non-null  object
 25  next_port                     494042 non-null  object
 26  next_arrival_time             494042 non-null  object
 27  next_duration                 494042 non-null  float64
 28  next_leg_duration             494042 non-null  float64
 29  next_leg_distance_nm          494042 non-null  float64
 30  next_leg_stationary_hours     494042 non-null  float64
 31  next_call_id                  494042 non-null  object
 32  total_duration_shipment       494042 non-null  float64
 33  total_duration_shipment_days  494042 non-null  float64
 34  total_distance_shipment       494042 non-null  float64
dtypes: datetime64[ns](2), float64(12), int64(3), object(18)
memory usage: 131.9+ MB