<a href="https://colab.research.google.com/github/hargurjeet/Maersk/blob/main/Modelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -q gitpython

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 207.3/207.3 kB 4.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.7/62.7 kB 7.3 MB/s eta 0:00:00

In [34]:
## Python Imports
import pandas as pd
import numpy as np
from git import Repo
import os
import matplotlib.pyplot as plt
import seaborn as sns

## Libraries for model building
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from xgboost import XGBRegressor
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import FunctionTransformer
from sklearn.model_selection import GridSearchCV

In [3]:
# Clone the GitHub repository
repo_url = 'https://github.com/hargurjeet/Maersk'
repo_dir = 'Maersk'
Repo.clone_from(repo_url, repo_dir)

In [4]:
import pandas as pd

file_path = "/content/Maersk/vessel_data.csv"
date_cols = ['arrival_date', 'departure_date']

dtypes = {
    'imo': 'object',
}

vessel_data = pd.read_csv(file_path, parse_dates=date_cols, dtype=dtypes,)
pd.set_option('display.max_columns', None)
vessel_data.head(2)

,Unnamed: 0,call_id,arrival_date,departure_date,arrival_time,departure_time,imo,vessel_name_ais,vessel_type_ais,Country,CountryCode,Port,Terminal,Duration,Service_name,length,prev_departure_time,vesteu,prev_port,prev_arrival_time,prev_duration,prev_leg_duration,prev_leg_distance_nm,prev_leg_stationary_hours,prev_call_id,next_port,next_arrival_time,next_duration,next_leg_duration,next_leg_distance_nm,next_leg_stationary_hours,next_call_id,total_duration_shipment,total_duration_shipment_days,total_distance_shipment
0,0,7b75a18f54d78c79df4e9ceb29c65c60d6b5c7ae,2022-01-05,2022-01-07,2022-01-05 23:00:19+00:00,2022-01-07 21:04:26+00:00,9525376,SAFMARINE CHAMBAL,Container Ship,China,CN,Xiamen,Xiamen Songyu Container Terminal,46.068611,ML - TPX,249.12,2021-12-14 07:00:05+00:00,4496,Haiphong,2021-12-13 17:02:55+00:00,13.952778,544.003889,1598.620103,28,705238686bb73f1947352631d015ad9485d78a9c,Los Angeles,2022-02-10 12:01:14+00:00,207.020556,806.946667,7407.903024,201.0,c77797c9b9822d7a799e6f7664f7d6be5f73f270,1846.992500,76.958021,9006.523126
1,1,c77797c9b9822d7a799e6f7664f7d6be5f73f270,2022-02-10,2022-02-19,2022-02-10 12:01:14+00:00,2022-02-19 03:02:28+00:00,9525376,SAFMARINE CHAMBAL,Container Ship,United States,US,Los Angeles,Apmt Pier 400,207.020556,ML - TPX,249.12,2022-01-07 21:04:26+00:00,4496,Xiamen,2022-01-05 23:00:19+00:00,46.068611,806.946667,7407.903024,201,7b75a18f54d78c79df4e9ceb29c65c60d6b5c7ae,Qingdao,2022-03-08 22:27:41+00:00,105.949167,427.420278,5967.080241,25.0,0dccb61f51069f40de6592464459777a2eb73334,1819.405278,75.808553,13374.983265

In [5]:
#fixing datatypes of columns
def remove_timezone_info(data):
    return data.str[:-6]

def convert_to_datetime(data):
    return pd.to_datetime(data, format="%Y-%m-%d %H:%M:%S", errors='coerce')

columns = ['arrival_time', 'departure_time', 'prev_arrival_time', 'prev_departure_time', 'next_arrival_time']

for col in columns:
    vessel_data[col] = remove_timezone_info(vessel_data[col])
    vessel_data[col] = convert_to_datetime(vessel_data[col])

In [6]:
vessel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494042 entries, 0 to 494041
Data columns (total 35 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    494042 non-null  int64
 1   call_id                       494042 non-null  object
 2   arrival_date                  494042 non-null  datetime64[ns]
 3   departure_date                494042 non-null  datetime64[ns]
 4   arrival_time                  493604 non-null  datetime64[ns]
 5   departure_time                493614 non-null  datetime64[ns]
 6   imo                           494042 non-null  object
 7   vessel_name_ais               494042 non-null  object
 8   vessel_type_ais               494039 non-null  object
 9   Country                       494042 non-null  object
 10  CountryCode                   493669 non-null  object
 11  Port                          494042 non-null  object
 12  Terminal                      494042 non-null  object
 13  Duration                      494042 non-null  float64
 14  Service_name                  493895 non-null  object
 15  length                        494042 non-null  float64
 16  prev_departure_time           493582 non-null  datetime64[ns]
 17  vesteu                        494042 non-null  int64
 18  prev_port                     494038 non-null  object
 19  prev_arrival_time             493571 non-null  datetime64[ns]
 20  prev_duration                 494038 non-null  float64
 21  prev_leg_duration             494042 non-null  float64
 22  prev_leg_distance_nm          494042 non-null  float64
 23  prev_leg_stationary_hours     494042 non-null  int64
 24  prev_call_id                  494038 non-null  object
 25  next_port                     494042 non-null  object
 26  next_arrival_time             493580 non-null  datetime64[ns]
 27  next_duration                 494042 non-null  float64
 28  next_leg_duration             494042 non-null  float64
 29  next_leg_distance_nm          494042 non-null  float64
 30  next_leg_stationary_hours     494042 non-null  float64
 31  next_call_id                  494042 non-null  object
 32  total_duration_shipment       494042 non-null  float64
 33  total_duration_shipment_days  494042 non-null  float64
 34  total_distance_shipment       494042 non-null  float64
dtypes: datetime64[ns](7), float64(12), int64(3), object(13)
memory usage: 131.9+ MB

In [7]:
vessel_data.head(2)

,Unnamed: 0,call_id,arrival_date,departure_date,arrival_time,departure_time,imo,vessel_name_ais,vessel_type_ais,Country,CountryCode,Port,Terminal,Duration,Service_name,length,prev_departure_time,vesteu,prev_port,prev_arrival_time,prev_duration,prev_leg_duration,prev_leg_distance_nm,prev_leg_stationary_hours,prev_call_id,next_port,next_arrival_time,next_duration,next_leg_duration,next_leg_distance_nm,next_leg_stationary_hours,next_call_id,total_duration_shipment,total_duration_shipment_days,total_distance_shipment
0,0,7b75a18f54d78c79df4e9ceb29c65c60d6b5c7ae,2022-01-05,2022-01-07,2022-01-05 23:00:19,2022-01-07 21:04:26,9525376,SAFMARINE CHAMBAL,Container Ship,China,CN,Xiamen,Xiamen Songyu Container Terminal,46.068611,ML - TPX,249.12,2021-12-14 07:00:05,4496,Haiphong,2021-12-13 17:02:55,13.952778,544.003889,1598.620103,28,705238686bb73f1947352631d015ad9485d78a9c,Los Angeles,2022-02-10 12:01:14,207.020556,806.946667,7407.903024,201.0,c77797c9b9822d7a799e6f7664f7d6be5f73f270,1846.992500,76.958021,9006.523126
1,1,c77797c9b9822d7a799e6f7664f7d6be5f73f270,2022-02-10,2022-02-19,2022-02-10 12:01:14,2022-02-19 03:02:28,9525376,SAFMARINE CHAMBAL,Container Ship,United States,US,Los Angeles,Apmt Pier 400,207.020556,ML - TPX,249.12,2022-01-07 21:04:26,4496,Xiamen,2022-01-05 23:00:19,46.068611,806.946667,7407.903024,201,7b75a18f54d78c79df4e9ceb29c65c60d6b5c7ae,Qingdao,2022-03-08 22:27:41,105.949167,427.420278,5967.080241,25.0,0dccb61f51069f40de6592464459777a2eb73334,1819.405278,75.808553,13374.983265

# Feature Engineering

In [8]:
## Splitting data and time
def part_of_dates(df, column):
  """ Extrace Year, Month, day, weekday and hour from a date value """
  df[column+ '_year']= df[column].dt.year
  df[column+ '_month']= df[column].dt.month
  df[column+ '_day']= df[column].dt.day
  df[column+ '_week']= df[column].dt.weekday
  df[column+ '_hour']= df[column].dt.hour

part_of_dates(vessel_data, 'arrival_date')
part_of_dates(vessel_data, 'departure_date')
part_of_dates(vessel_data, 'arrival_time')
part_of_dates(vessel_data, 'departure_time')
part_of_dates(vessel_data, 'prev_departure_time')
part_of_dates(vessel_data, 'prev_arrival_time')
part_of_dates(vessel_data, 'next_arrival_time')

In [9]:
vessel_data.head(2)

,Unnamed: 0,call_id,arrival_date,departure_date,arrival_time,departure_time,imo,vessel_name_ais,vessel_type_ais,Country,CountryCode,Port,Terminal,Duration,Service_name,length,prev_departure_time,vesteu,prev_port,prev_arrival_time,prev_duration,prev_leg_duration,prev_leg_distance_nm,prev_leg_stationary_hours,prev_call_id,next_port,next_arrival_time,next_duration,next_leg_duration,next_leg_distance_nm,next_leg_stationary_hours,next_call_id,total_duration_shipment,total_duration_shipment_days,total_distance_shipment,arrival_date_year,arrival_date_month,arrival_date_day,arrival_date_week,arrival_date_hour,departure_date_year,departure_date_month,departure_date_day,departure_date_week,departure_date_hour,arrival_time_year,arrival_time_month,arrival_time_day,arrival_time_week,arrival_time_hour,departure_time_year,departure_time_month,departure_time_day,departure_time_week,departure_time_hour,prev_departure_time_year,prev_departure_time_month,prev_departure_time_day,prev_departure_time_week,prev_departure_time_hour,prev_arrival_time_year,prev_arrival_time_month,prev_arrival_time_day,prev_arrival_time_week,prev_arrival_time_hour,next_arrival_time_year,next_arrival_time_month,next_arrival_time_day,next_arrival_time_week,next_arrival_time_hour
0,0,7b75a18f54d78c79df4e9ceb29c65c60d6b5c7ae,2022-01-05,2022-01-07,2022-01-05 23:00:19,2022-01-07 21:04:26,9525376,SAFMARINE CHAMBAL,Container Ship,China,CN,Xiamen,Xiamen Songyu Container Terminal,46.068611,ML - TPX,249.12,2021-12-14 07:00:05,4496,Haiphong,2021-12-13 17:02:55,13.952778,544.003889,1598.620103,28,705238686bb73f1947352631d015ad9485d78a9c,Los Angeles,2022-02-10 12:01:14,207.020556,806.946667,7407.903024,201.0,c77797c9b9822d7a799e6f7664f7d6be5f73f270,1846.992500,76.958021,9006.523126,2022,1,5,2,0,2022,1,7,4,0,2022.0,1.0,5.0,2.0,23.0,2022.0,1.0,7.0,4.0,21.0,2021.0,12.0,14.0,1.0,7.0,2021.0,12.0,13.0,0.0,17.0,2022.0,2.0,10.0,3.0,12.0
1,1,c77797c9b9822d7a799e6f7664f7d6be5f73f270,2022-02-10,2022-02-19,2022-02-10 12:01:14,2022-02-19 03:02:28,9525376,SAFMARINE CHAMBAL,Container Ship,United States,US,Los Angeles,Apmt Pier 400,207.020556,ML - TPX,249.12,2022-01-07 21:04:26,4496,Xiamen,2022-01-05 23:00:19,46.068611,806.946667,7407.903024,201,7b75a18f54d78c79df4e9ceb29c65c60d6b5c7ae,Qingdao,2022-03-08 22:27:41,105.949167,427.420278,5967.080241,25.0,0dccb61f51069f40de6592464459777a2eb73334,1819.405278,75.808553,13374.983265,2022,2,10,3,0,2022,2,19,5,0,2022.0,2.0,10.0,3.0,12.0,2022.0,2.0,19.0,5.0,3.0,2022.0,1.0,7.0,4.0,21.0,2022.0,1.0,5.0,2.0,23.0,2022.0,3.0,8.0,1.0,22.0

# Training a baseline model

In [10]:
vessel_data.columns

Index(['Unnamed: 0', 'call_id', 'arrival_date', 'departure_date',
       'arrival_time', 'departure_time', 'imo', 'vessel_name_ais',
       'vessel_type_ais', 'Country', 'CountryCode', 'Port', 'Terminal',
       'Duration', 'Service_name', 'length', 'prev_departure_time', 'vesteu',
       'prev_port', 'prev_arrival_time', 'prev_duration', 'prev_leg_duration',
       'prev_leg_distance_nm', 'prev_leg_stationary_hours', 'prev_call_id',
       'next_port', 'next_arrival_time', 'next_duration', 'next_leg_duration',
       'next_leg_distance_nm', 'next_leg_stationary_hours', 'next_call_id',
       'total_duration_shipment', 'total_duration_shipment_days',
       'total_distance_shipment', 'arrival_date_year', 'arrival_date_month',
       'arrival_date_day', 'arrival_date_week', 'arrival_date_hour',
       'departure_date_year', 'departure_date_month', 'departure_date_day',
       'departure_date_week', 'departure_date_hour', 'arrival_time_year',
       'arrival_time_month', 'arrival_time_day', 'arrival_time_week',
       'arrival_time_hour', 'departure_time_year', 'departure_time_month',
       'departure_time_day', 'departure_time_week', 'departure_time_hour',
       'prev_departure_time_year', 'prev_departure_time_month',
       'prev_departure_time_day', 'prev_departure_time_week',
       'prev_departure_time_hour', 'prev_arrival_time_year',
       'prev_arrival_time_month', 'prev_arrival_time_day',
       'prev_arrival_time_week', 'prev_arrival_time_hour',
       'next_arrival_time_year', 'next_arrival_time_month',
       'next_arrival_time_day', 'next_arrival_time_week',
       'next_arrival_time_hour'],
      dtype='object')

In [11]:
pd.set_option('display.max_rows', None)
vessel_data.Country.value_counts()

Country
China                                    84609
United States                            26787
Singapore                                21787
Korea, Republic of                       19712
Japan                                    18437
Vietnam                                  17542
Malaysia                                 17339
Turkey                                   15264
Spain                                    13803
Italy                                    11364
India                                    11015
Netherlands                              10009
Panama                                    9377
United Arab Emirates                      9159
Brazil                                    8952
Thailand                                  8892
Taiwan, Province of China                 8302
Hong Kong China                           7779
Philippines                               7527
Germany                                   6919
Belgium                                   6882
Morocco                                   6817
Saudi Arabia                              6592
United Kingdom                            6535
Indonesia                                 6473
Egypt                                     5908
Greece                                    5557
Mexico                                    5402
Australia                                 5298
Taiwan China                              5143
Sri Lanka                                 4956
Russia                                    4484
France                                    4390
Colombia                                  4335
Canada                                    3459
New Zealand                               3303
Malta                                     2676
Peru                                      2666
Jamaica                                   2510
Chile                                     2491
Bangladesh                                2291
South Africa                              2261
Costa Rica                                2218
Ecuador                                   2013
Poland                                    1975
Portugal                                  1773
Bahamas                                   1768
Pakistan                                  1683
Sweden                                    1662
Togo                                      1649
Ghana                                     1582
Nigeria                                   1582
Oman                                      1574
Honduras                                  1465
Dominican Republic                        1457
CÃ´te d'Ivoire                            1421
Congo                                     1366
Israel                                    1355
Lithuania                                 1318
Guatemala                                 1292
Qatar                                     1288
Cyprus                                    1232
Cameroon                                  1099
Senegal                                   1057
Algeria                                   1055
Argentina                                 1010
Slovenia                                  1000
Denmark                                    906
Cambodia                                   902
Uruguay                                    901
Kenya                                      871
Benin                                      852
Angola                                     842
Kuwait                                     837
Mauritius                                  831
Guadeloupe                                 800
Djibouti                                   788
Mozambique                                 746
Romania                                    726
Finland                                    626
Tanzania, United Republic of               615
Mauritania                                 563
Iraq                                       559
Georgia                                    557
Reunion                                    535
Croatia                                    533
Latvia                                     524
Suriname                                   496
Bahrain                                    489
Iran                                       488
Estonia                                    479
Congo, The Democratic Republic of the      459
Jordan                                     410
Bulgaria                                   396
Namibia                                    373
El Salvador                                362
Guinea                                     339
Sierra Leone                               307
Madagascar                                 306
Nicaragua                                  284
Syrian Arab Republic                       221
Norway                                     218
Liberia                                    210
Somalia                                    209
Cuba                                       208
Tunisia                                    207
Yemen                                      206
Albania                                    201
Myanmar                                    173
French Guiana                              161
Maldives                                   150
Montenegro                                 137
Guinea-Bissau                               81
Ukraine                                     58
North Korea                                  2
Name: count, dtype: int64

In [12]:
import pandas as pd

def calculate_count_and_percentage(data, column_name):
    # Calculate value counts and total count
    value_counts = data[column_name].value_counts()
    total_count = len(data)

    # Calculate percentage values
    percentage_values = (value_counts / total_count) * 100

    # Create a new DataFrame with count and percentage values
    result_df = pd.DataFrame({f'{column_name}_Count': value_counts, f'{column_name}_Percentage': percentage_values})

    return result_df

# Example usage
# Assuming vessel_data is your DataFrame
output_vessel_type = calculate_count_and_percentage(vessel_data, 'vessel_type_ais')
output_Country = calculate_count_and_percentage(vessel_data, 'Country')
output_Port = calculate_count_and_percentage(vessel_data, 'Port')
output_prev_port = calculate_count_and_percentage(vessel_data, 'prev_port')
# output_next_port = calculate_count_and_percentage(vessel_data, 'next_port')

In [13]:
def categorize_top_values(column_name, data, top_n):
    # Get the top n values
    top_values = data[column_name].value_counts().nlargest(top_n).index

    # Create a new column with top values and 'Others'
    data[f'{column_name}_Categorized'] = np.where(data[column_name].isin(top_values), data[column_name], 'Others')


# Example usage
# Assuming vessel_data is your DataFrame
categorize_top_values('vessel_type_ais', vessel_data, 2)
categorize_top_values('Country', vessel_data, 3)
categorize_top_values('Port', vessel_data, 3)
categorize_top_values('prev_port', vessel_data, 3)
# categorize_top_values('next_port', vessel_data, 3)

In [14]:
vessel_data.columns

Index(['Unnamed: 0', 'call_id', 'arrival_date', 'departure_date',
       'arrival_time', 'departure_time', 'imo', 'vessel_name_ais',
       'vessel_type_ais', 'Country', 'CountryCode', 'Port', 'Terminal',
       'Duration', 'Service_name', 'length', 'prev_departure_time', 'vesteu',
       'prev_port', 'prev_arrival_time', 'prev_duration', 'prev_leg_duration',
       'prev_leg_distance_nm', 'prev_leg_stationary_hours', 'prev_call_id',
       'next_port', 'next_arrival_time', 'next_duration', 'next_leg_duration',
       'next_leg_distance_nm', 'next_leg_stationary_hours', 'next_call_id',
       'total_duration_shipment', 'total_duration_shipment_days',
       'total_distance_shipment', 'arrival_date_year', 'arrival_date_month',
       'arrival_date_day', 'arrival_date_week', 'arrival_date_hour',
       'departure_date_year', 'departure_date_month', 'departure_date_day',
       'departure_date_week', 'departure_date_hour', 'arrival_time_year',
       'arrival_time_month', 'arrival_time_day', 'arrival_time_week',
       'arrival_time_hour', 'departure_time_year', 'departure_time_month',
       'departure_time_day', 'departure_time_week', 'departure_time_hour',
       'prev_departure_time_year', 'prev_departure_time_month',
       'prev_departure_time_day', 'prev_departure_time_week',
       'prev_departure_time_hour', 'prev_arrival_time_year',
       'prev_arrival_time_month', 'prev_arrival_time_day',
       'prev_arrival_time_week', 'prev_arrival_time_hour',
       'next_arrival_time_year', 'next_arrival_time_month',
       'next_arrival_time_day', 'next_arrival_time_week',
       'next_arrival_time_hour', 'vessel_type_ais_Categorized',
       'Country_Categorized', 'Port_Categorized', 'prev_port_Categorized'],
      dtype='object')

In [20]:
not_rel = ['Unnamed: 0', 'call_id', 'arrival_date', 'departure_date', 'arrival_time', 'departure_time', 'imo', 'vessel_name_ais',\
           'vessel_type_ais', 'Country', 'CountryCode', 'Port', 'Terminal', 'Service_name','prev_departure_time','prev_port', 'prev_arrival_time',\
          'prev_call_id', 'next_port', 'next_call_id',]

target = ['prev_leg_stationary_hours']

In [21]:


# Split data into features and target
X = vessel_data.drop(not_rel + target,axis=1)
y = vessel_data['prev_leg_stationary_hours']

print(vessel_data.shape)

(494042, 74)

In [26]:
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define preprocessing steps for numerical and categorical columns
numeric_features = X.select_dtypes(include=['int64', 'float64']).columns
categorical_features = X.select_dtypes(include=['object']).columns

numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

In [ ]:
%%time
# Define the Random Forest Regressor model
rf_model = RandomForestRegressor()

# Create a pipeline
pipeline = Pipeline(steps=[('preprocessor', preprocessor), ('model', rf_model)])

# # Fit the model
# pipeline.fit(X_train, y_train)

# # Predict on the test set
# y_pred = pipeline.predict(X_test)

# # Evaluate the model
# mse = mean_squared_error(y_test, y_pred)
# print("Mean Squared Error:", mse)

In [29]:
subset_size = 10000
subset_indices = np.random.choice(len(X_train), subset_size, replace=False)

In [30]:
subset_indices

array([335421,  62115, 284463, ...,  39837,   9063,  71540])

In [38]:
# Extract a subset of data
subset_size = 30000  # Define the size of the subset
subset_indices = np.random.choice(len(X_train), subset_size, replace=False)
X_subset = X_train.iloc[subset_indices]
y_subset = y_train.iloc[subset_indices]

# Split the subset data into training and testing sets
X_train_subset, X_test_subset, y_train_subset, y_test_subset = train_test_split(X_subset, y_subset, test_size=0.2, random_state=42)

# Define the Random Forest Regressor model
rf_model = RandomForestRegressor()

# Create a pipeline
pipeline = Pipeline(steps=[('preprocessor', preprocessor), ('model', rf_model)])

# Fit the model
pipeline.fit(X_train_subset, y_train_subset)

# Predict on the test set
y_pred = pipeline.predict(X_test_subset)

# Evaluate the model
mse = mean_squared_error(y_test_subset, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 877.6998257833334

In [40]:
# Evaluate the model
rmse = mean_squared_error(y_test_subset, y_pred, squared=False)
print("Mean Squared Error:", rmse)

Mean Squared Error: 29.625999152489918

In [ ]:


# Display feature importance
feature_importance_dict = dict(zip(X_train.columns, feature_importance))
sorted_feature_importance = sorted(feature_importance_dict.items(), key=lambda x: x[1], reverse=True)
for feature, importance in sorted_feature_importance:
    print(f"Feature: {feature}, Importance: {importance}")

In [42]:
# Extract a subset of data
subset_size = 30000  # Define the size of the subset
subset_indices = np.random.choice(len(X_train), subset_size, replace=False)
X_subset = X_train.iloc[subset_indices]
y_subset = y_train.iloc[subset_indices]

# Split the subset data into training and testing sets
X_train_subset, X_test_subset, y_train_subset, y_test_subset = train_test_split(X_subset, y_subset, test_size=0.2, random_state=42)
# Create an XGBoost regressor model
xgb_model = xgb.XGBRegressor()

# Create a pipeline
pipeline = Pipeline(steps=[('preprocessor', preprocessor), ('model', xgb_model)])

# Fit the model
pipeline.fit(X_train_subset, y_train_subset)

# Predict on the test set
y_pred = pipeline.predict(X_test_subset)

# Evaluate the model
raisemse = mean_squared_error(y_test_subset, y_pred, squared=False)
print("Mean Squared Error:", rmse)

Mean Squared Error: 29.625999152489918